@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --brand-color: #e07b67;

  --dark-10: #121214;
  --dark-20: #17171a;
  --dark-30: #202024;
  --dark-40: #252529;

  --gray: #afabb6;
  --white: #ffffff;
}

body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk", sans-serif;
}