.header {
  background-color: var(--dark-20);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 48px 24px;
  gap: 32px;
}

.logo {
  color: var(--brand-color);
  font-size: 1.5rem;
  font-weight: 500;
}

.logo b {
  color: var(--white);
}