.inputContainer {
  background-color: var(--dark-30);
  border: 2px solid var(--dark-40);
  border-radius: 8px;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: calc(1216px - 48px);
}

.inputContainer input {
  background: transparent;
  border: none;
  outline: none;
  color: var(--white);
  flex: 1;
  font-size: 1rem;
}

.inputContainer:focus-within {
  border-color: var(--gray);
}

.inputContainer input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='white'%3E%3Cpath fill-rule='evenodd' d='M1.81484 15.52L0.734844 14.44L7.29484 7.84L0.734844 1.24L1.81484 0.159999L8.37484 6.76L14.8948 0.159999L15.9748 1.24L9.41484 7.84L15.9748 14.44L14.8948 15.52L8.37484 8.96L1.81484 15.52Z' clip-rule='evenodd'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all .2s ease; 
}